{% extends 'blog/base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="container">
    <h1>Главная cтраница:</h1>
    <hr>
    <br>
.
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img/1.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>


<main>
  <div class="container py-4">

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Мастер Диана</h2>
          <p>Я сертифицированный мастер по наращиванию ресниц .
Ресницами занимаюсь уже достаточно долго ,очень рада ,что нашла дело по душе .
Выполняю все объемы и эффекты ,работаю аккуратно и очень ответственно.Всегда рада ,когда ко мне возвращаются снова и снова.</p>
          <form action="http://127.0.0.1:8000/jobs">
            <button class="btn btn-success"  type="submit">Можно здесь увидеть работы</button>
          </form>

        </div>
      </div>

      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Немного о ресницах</h2>
          <p>Наращивание ресниц придаст Вашему взгляду выразительности, сделает глаза больше и ярче. Подчеркнем вашу красоту .
В среднем, наращивание длится около 2-х часов, в зависимости от объема. Коррекцию ресниц рекомендуется делать через каждые 4-7 недель.
Снимать наращенные ресницы следует только специальным средством у профессионалов, не рекомендуется проводить самостоятельно.</p>
          <form action="http://127.0.0.1:8000/price">
            <button class="btn btn-success"  type="submit">Стоимость услуг</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</main>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}