{% extends 'blog/base.html' %}
{% block title %}Работы{% endblock %}
{% block content %}
<div class="container">
    <h1>Работы:</h1>
    <hr>
    <br>
</div>



<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res1.jpg" height="500" width="500" />
</svg>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res2.jpg" height="500" width="500" />
</svg>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res11.jpg" height="500" width="500" />
</svg>
<br>
<br>
<br>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res4.jpg" height="530" width="500" />
</svg>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res5.jpg" height="500" width="500" />
</svg>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res6.jpg" height="500" width="500" />
</svg>
<br>
<br>
<br>
<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res7.jpg" height="500" width="500" />
</svg>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res8.jpg" height="500" width="500" />
</svg>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res9.jpg" height="450" width="500" />
</svg>
<br>
<br>
<br>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res10.jpg" height="530" width="500" />
</svg>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res3.jpg" height="500" width="500" />
</svg>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <image href="/static/img/res12.jpg" height="500" width="500" />
</svg>
<br>
<br>
<br>



{% endblock %}