{% extends 'blog/base.html' %}
{% block title %}Цена{% endblock %}
{% block content %}
<div class="container">
    <h1 height="1500px">Цена:</h1>
    <hr>
    <br>
</div>
    <div class="opacity-100">


  <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">1D (классическое наращивание) + снятие</h3>
        <h4>25 бел.руб.</h4>
    </div>
      </a>
        <hr>
  <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Объемное наращивание 2D + снятие</h3>
        <h4>36 бел.руб.</h4>
    </div>
      </a>
        <hr>
    <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Объемное наращивание 3D + снятие</h3>
        <h4>47 бел.руб.</h4>
    </div>
      </a>
        <hr>
    <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Коррекция</h3>
        <h4>20 бел.руб.</h4>
    </div>
      </a>
        <hr>
    <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Снятие наращенных ресниц</h3>
        <h4>10 бел.руб.</h4>
    </div>
      </a>
        <hr>
    <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Наращивание уголков</h3>
        <h4>15 бел.руб.</h4>
    </div>
      </a>
        <hr>
    <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Голливудское наращивание + снятие</h3>
        <h4>55 бел.руб.</h4>
    </div>
      </a>
        <hr>

</div>
{% endblock %}